:root {
    --primary: #22092C;
    --secondary: #872341;
    --tertiary: #BE3144;
    --quaternary: #F05941;
}



@tailwind base;

@layer base {
    html {
        @apply text-neutral-800;
    }

    html.dark {
        @apply text-neutral-50;
        @apply bg-neutral-800;
    }
}

@tailwind components;
@tailwind utilities;
